# =========================
# PYTHON & ENVIRONMENTS
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# =========================
# JUPYTER NOTEBOOK
# =========================
.ipynb_checkpoints/

# =========================
# PROJECT SPECIFIC (PENTING!)
# =========================
# Abaikan folder data agar file CSV 53MB dan PDF CV aslimu tidak ter-upload
data/

# tfidf_model.pkl di-commit agar app bisa langsung jalan tanpa perlu run notebook dulu
# models/*.pkl

# =========================
# OS & IDE
# =========================
.DS_Store
.vscode/
.idea/