# =========================
# PYTHON & ENVIRONMENTS
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# =========================
# JUPYTER NOTEBOOK
# =========================
.ipynb_checkpoints/

# =========================
# PROJECT SPECIFIC (PENTING!)
# =========================
# Abaikan folder data agar file CSV 53MB dan PDF CV aslimu tidak ter-upload
data/

# Abaikan file model yang besar, tapi tetap simpan foldernya jika perlu
models/*.pkl

# =========================
# OS & IDE
# =========================
.DS_Store
.vscode/
.idea/